.nav-link
{
    margin-right: auto;
    text-align:right;
}


p {
    color: #999;
    line-height: 25px;
}
h2,h3{
    color: #fff;

}
h2{
    font-size: 18px;
}

.footer-top{
    background: #111;
    padding: 80px 0;
}

.segment-one h3{
    font-family: Arial;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two h2{
    color: #fff;
    font-family: Arial;
    text-transform: uppercase;
}
.segment-two h2:before{
    content: '|';
    color: red;
    padding-right: 10px;
}

.segment-two ul{
    margin:0 ;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px:
}

.segment-two ul li a{
    color: #999;
    text-decoration: none;
}

segment-three{
    color: #fff;
    font-family: Arial;
    text-transform: uppercase;
}
.segment-three h2:before{
    content: '|';
    color: red;
    padding-right: 10px;
}

.card-body {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

